/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100;500&display=swap");

.font {
  font-family: "Philosopher", sans-serif;
  color: aliceblue;
  font-weight: 400;
}
.font2 {
  font-family: "Taviraj", serif;
  color: aliceblue;
}
:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

@keyframes appear-fast {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-appear-fast {
  animation: appear-fast 2s cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes appear-med {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-appear-med {
  animation: appear-med 4s cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes appear-slow {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-appear-slow {
  animation: appear-med 6s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-about-appear-fast {
  animation: appear-fast 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-about-appear-med {
  animation: appear-med 1.5s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-about-appear-slow {
  animation: appear-slow 2.5s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-exp-appear-fast {
  animation: appear-fast 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-exp-appear-med {
  animation: appear-med 1.5s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-exp-appear-slow {
  animation: appear-slow 2.5s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-proj-appear {
  animation: appear-fast 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.animate-act-appear {
  animation: appear-fast 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.bounceGmail {
  animation: bounceGmail;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes bounceGmail {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
}

.bounceFB {
  animation: bounceFB;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes bounceFB {
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
}

.bounceGithub {
  animation: bounceGithub;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes bounceGithub {
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(0);
  }
}

.bounceLinkedin {
  animation: bounceLinkedin;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes bounceLinkedin {
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(0);
  }
}
